node_modules
/package-lock.json

/dist/

/packages/proxy-engine/index.js
/packages/proxy-engine/omega_pac.min.js
/packages/proxy-engine/build-ts/

/packages/extension-runtime/index.js
/packages/extension-runtime/omega_target.min.js
/packages/extension-runtime/build-ts/

/packages/web-ui/build/
/packages/web-ui/build-ts/
/packages/web-ui/tmp/

/apps/browser-extension/index.js
/apps/browser-extension/omega_target_*.min.js
/apps/browser-extension/tmp/
/apps/browser-extension/build/
/apps/browser-extension/build-ts/
/apps/browser-extension/release/
