.page-header
  h2 {{'about_title' | tr}}
section.omega-experimental(ng-show='isExperimental')
  p.alert.alert-warning
    span.glyphicon.glyphicon-warning-sign
    = ' '
    span {{'about_experimental_warning_moz' | tr}}
section
  .media(style='margin: 1em 0')
    .media-left
      img.media-object(src='img/icons/omega-action-32.png')
    .media-body
      h4.media-heading {{'appNameShort' | tr}}
      p {{'about_app_description' | tr}}
section
  p
    button.btn.btn-default(ng-click='downloadLog()')
      span.glyphicon.glyphicon-download
      = ' '
      | {{'popup_errorLog' | tr}}
    = ' '
    button.btn.btn-danger(ng-click='showResetOptionsModal()')
      span.glyphicon.glyphicon-alert
      = ' '
      | {{'options_reset' | tr}}
section
  p
    | {{'about_version' | tr:[version]}}
    br
    a(href='https://github.com/iklh/SwitchyAgain') Project homepage
    br
    br
    | Based on SwitchyOmega, Copyright 2012-2017 
    a(href='https://github.com/FelisCatus/SwitchyOmega/blob/master/AUTHORS') The SwitchyOmega Authors
    | .
    br
    | SwitchyAgain changes Copyright 2026 
    a(href='https://github.com/iklh/SwitchyAgain/graphs/contributors') The SwitchyAgain Authors
    | .
    br
    | Licensed under the 
    a(href='https://www.gnu.org/licenses/gpl.html') GNU General Public License
    |  Version 3 or later.
