div(ng-controller='SwitchProfileCtrl')
  div(omega-react-switch-condition-help)
  section.settings-group
    div.switch-rules-header-host(omega-react-switch-rules-header)
    .table-responsive.switch-rules-wrapper(ng-show='!editSource' ng-class='{"switch-rules-wrapper-loading": !loadRules}')
      table.switch-rules.table.table-bordered.table-condensed.width-limit-xl(ng-if='loadRules')
        thead(omega-react-switch-rule-table-header)
        tbody(omega-react-switch-rule-rows)
        tbody(omega-react-switch-rule-footer)
  div(omega-react-switch-attached-profile)
